.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px double black;
}

.logoLink {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 100px;
}

.button {
  margin: 10px;
}

a {
  text-decoration: none;
  color: black;
}
